Checks: >
    -*,
    bugprone-*,
    -bugprone-easily-swappable-parameters,
    cert-*,
    clang-analyzer-*,
    concurrency-*,
    cppcoreguidelines-*,
    -cppcoreguidelines-no-malloc,
    -cppcoreguidelines-owning-memory,
    performance-*,
    readability-*,
    -readability-braces-around-statements,
