Checks: >
    -*,
    bugprone-*,
    cert-*,
    clang-analyzer-*,
    concurrency-*,
    cppcoreguidelines-*,
    -cppcoreguidelines-no-malloc,
    -cppcoreguidelines-owning-memory,
    performance-*,
    readability-*,
